In [58]:
import os
import pandas as pd

In [59]:
df = pd.read_csv('aaon.us.txt') # Import data from local, the data source is kaggle.com

In [60]:
print(df.head()) # Check dataframe and information.
print(df.shape)
df.isnull().values.any() # Check if there's None.

         Date    Open    High     Low   Close  Volume  OpenInt
0  2005-02-25  2.7985  2.8152  2.7679  2.7958   47033      0.0
1  2005-02-28  2.7595  2.8540  2.7486  2.8540   58791      0.0
2  2005-03-01  2.8540  2.8540  2.7541  2.8095   88448      0.0
3  2005-03-02  2.8124  2.8485  2.7595  2.8235  130879      0.0
4  2005-03-03  2.7875  2.8540  2.7541  2.8317  117092      0.0
(2118, 7)

True

In [83]:
# Located columns such as Date, Open, High, Low, Volume
# Check each column if it contains None. 
def daily_difference(High,Low):
    difference = High - Low
    return difference

In [91]:
Open = df['Open']
High = df['High']
Volume = df['Volume']
Date = df['Date']
Low = df['Low']
df['Daily_Gap'] = daily_difference(df['High'],df['Low'])
Daily_Gap=df['Daily_Gap']
print('Daily Gap:\n',df['Daily_Gap'])
print(Open.head())
print(df['Open'].isnull().values.any())
print(High.head())
print(df['High'].isnull().values.any())
print(Volume.head())
print(df['Volume'].isnull().values.any())
print(type(Open))

Daily Gap:
 0       0.0473
1       0.1054
2       0.0999
3       0.0890
4       0.0999
         ...
2113    0.3350
2114    0.2510
2115    0.2510
2116    1.2110
2117    0.2000
Name: Daily_Gap, Length: 2118, dtype: float64
0    2.7985
1    2.7595
2    2.8540
3    2.8124
4    2.7875
Name: Open, dtype: float64
False
0    2.8152
1    2.8540
2    2.8540
3    2.8485
4    2.8540
Name: High, dtype: float64
False
0     47033
1     58791
2     88448
3    130879
4    117092
Name: Volume, dtype: int64
False
<class 'pandas.core.series.Series'>

In [63]:
df[['Open','Volume']].describe()

              Open        Volume
count  2118.000000  2.118000e+03
mean      6.305507  2.307032e+05
std       2.369292  2.269434e+05
min       2.759500  2.691000e+03
25%       4.800900  1.076605e+05
50%       5.646900  1.744735e+05
75%       7.994975  2.902662e+05
max      16.659000  6.370578e+06

In [64]:
df[['High','Volume']].describe()

              High        Volume
count  2118.000000  2.118000e+03
mean      6.419473  2.307032e+05
std       2.402824  2.269434e+05
min       2.815200  2.691000e+03
25%       4.916875  1.076605e+05
50%       5.749700  1.744735e+05
75%       8.095400  2.902662e+05
max      17.374000  6.370578e+06

In [92]:
df2 = pd.concat([Open,High,Volume,Daily_Gap],axis=1)
print(df2)

         Open     High  Volume  Daily_Gap
0      2.7985   2.8152   47033     0.0473
1      2.7595   2.8540   58791     0.1054
2      2.8540   2.8540   88448     0.0999
3      2.8124   2.8485  130879     0.0890
4      2.7875   2.8540  117092     0.0999
...       ...      ...     ...        ...
2113  15.3090  15.3470  180027     0.3350
2114  15.1810  15.1990  103956     0.2510
2115  14.9990  14.9990  120549     0.2510
2116  13.8690  15.0770  204510     1.2110
2117  14.8050  14.9090  109280     0.2000

[2118 rows x 4 columns]

In [93]:
df2.reset_index()
df2.set_index(Date)

               Open     High  Volume  Daily_Gap
Date
2005-02-25   2.7985   2.8152   47033     0.0473
2005-02-28   2.7595   2.8540   58791     0.1054
2005-03-01   2.8540   2.8540   88448     0.0999
2005-03-02   2.8124   2.8485  130879     0.0890
2005-03-03   2.7875   2.8540  117092     0.0999
...             ...      ...     ...        ...
2013-07-22  15.3090  15.3470  180027     0.3350
2013-07-23  15.1810  15.1990  103956     0.2510
2013-07-24  14.9990  14.9990  120549     0.2510
2013-07-25  13.8690  15.0770  204510     1.2110
2013-07-26  14.8050  14.9090  109280     0.2000

[2118 rows x 4 columns]

In [94]:
grouped_Open = df.groupby(df['Open']).agg({'Open': ['mean', 'min', 'max']})
print(grouped_Open)

            Open
            mean      min      max
Open
2.7595    2.7595   2.7595   2.7595
2.7762    2.7762   2.7762   2.7762
2.7790    2.7790   2.7790   2.7790
2.7875    2.7875   2.7875   2.7875
2.7985    2.7985   2.7985   2.7985
...          ...      ...      ...
15.8970  15.8970  15.8970  15.8970
16.0260  16.0260  16.0260  16.0260
16.4380  16.4380  16.4380  16.4380
16.5040  16.5040  16.5040  16.5040
16.6590  16.6590  16.6590  16.6590

[1380 rows x 3 columns]

In [95]:
grouped_High = df.groupby(df['High']).agg({'High': ['mean', 'min', 'max']})
print(grouped_High)

            High
            mean      min      max
High
2.8152    2.8152   2.8152   2.8152
2.8290    2.8290   2.8290   2.8290
2.8345    2.8345   2.8345   2.8345
2.8485    2.8485   2.8485   2.8485
2.8540    2.8540   2.8540   2.8540
...          ...      ...      ...
16.1170  16.1170  16.1170  16.1170
16.5170  16.5170  16.5170  16.5170
16.6200  16.6200  16.6200  16.6200
16.6840  16.6840  16.6840  16.6840
17.3740  17.3740  17.3740  17.3740

[1394 rows x 3 columns]

In [96]:
print(type(grouped_High))

<class 'pandas.core.frame.DataFrame'>

In [97]:
grouped_volume = df.groupby(df['Volume']).agg({'Volume': ['mean', 'min', 'max']})
print(grouped_volume)

          Volume
            mean      min      max
Volume
2691        2691     2691     2691
5942        5942     5942     5942
15009      15009    15009    15009
15114      15114    15114    15114
17514      17514    17514    17514
...          ...      ...      ...
1341618  1341618  1341618  1341618
1722516  1722516  1722516  1722516
1898999  1898999  1898999  1898999
1934350  1934350  1934350  1934350
6370578  6370578  6370578  6370578

[2106 rows x 3 columns]

In [ ]:
df2.duplicated() # check cleaned dataframe if there're duplicates